In [22]:
# Pandas DataFrame by lists of dicts.
import pandas as pd

# Initialise data to lists.
data = [{'Total Students': 39170, 'Total Schools': 15, 'Total Budget $': "24,649,428",
        'Average Math Score in %':78.98, 'Average Reading Score in %': 81.87, '% Passing Reading': 85.80, 
        '% Passing Math': 74.98}]

# Creates DataFrame.
df = pd.DataFrame(data)

# Print the data
df

,Total Students,Total Schools,Total Budget $,Average Math Score in %,Average Reading Score in %,% Passing Reading,% Passing Math
0,39170,15,"24,649,428",78.98,81.87,85.8,74.98